<section class="section portfolio" aria-labelledby="portfolio-label">
  <div class="container">

    <h2 class="section-title headline-md text-center" id="portfolio-label">Latest Projects</h2>

    <!-- Vérifie que les données ne sont pas en cours de chargement et qu'il n'y a pas d'erreur -->
    <ul class="portfolio-list" *ngIf="!isLoading && !errorMessage">
      <!-- Parcourt la liste des projets -->
      <li *ngFor="let project of projects">
        <div class="portfolio-card">
          <div class="card-banner img-holder" style="--width: 800; --height: 540;">

          <!-- Utilise le binding Angular pour afficher l'image dynamique -->
          <img [src]="project.image" width="800" height="540" loading="lazy"
            [alt]="project.title" class="img-cover">

          <!-- Bouton d'action (laissez vide si non utilisé) -->
          <a href="#" class="btn-icon" [attr.aria-label]="'More about ' + project.title"></a>
        </div>
          <div class="card-content">

            <!-- Affiche le titre du projet -->
            <span class="chip label-md">{{ project.title }}</span>

            <!-- Affiche le titre une deuxième fois (optionnel) -->
            <h3 class="title-md">{{ project.title }}</h3>

            <!-- Affiche la description du projet -->
            <p class="card-text">
              {{ project.description }}
            </p>

            <!-- Lien vers le projet -->
            <a [href]="project.link" class="btn btn-primary" target="_blank" rel="noopener">View Project</a>

          </div>

        </div>
      </li>
    </ul>

  </div>
</section>
