<section class="contact">
  <h2>Contactez-moi</h2>
  
  <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
    
    <!-- Email Input -->
    <div class="form-group">
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" ngModel required email
        [ngClass]="{ 'invalid': contactForm.submitted && contactForm.controls['email']?.invalid || contactForm.controls['email']?.touched && contactForm.controls['email']?.invalid }">
      <div *ngIf="contactForm.submitted && contactForm.controls['email']?.invalid" class="error-message">
        L'email est requis et doit être valide.
      </div>
    </div>

    <!-- Message Input -->
    <div class="form-group">
      <label for="message">Message :</label>
      <textarea id="message" name="message" ngModel required
        [ngClass]="{ 'invalid': contactForm.submitted && contactForm.controls['message']?.invalid || contactForm.controls['message']?.touched && contactForm.controls['message']?.invalid }"></textarea>
      <div *ngIf="contactForm.submitted && contactForm.controls['message']?.invalid" class="error-message">
        Le message ne peut pas être vide.
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="!contactForm.valid" class="submit-btn">Envoyer</button>
  </form>
</section>
